/* top */
#logo {
  font-family: "Pacifico", serif;
  font-weight: 300;
  font-size: 2rem;
  border-top: 4px solid green;
  border-bottom: 4px solid green;
  padding-left: 10px;
  padding-bottom: 5px;
}
/* links */
ul {
  list-style: none;
}
a {
  color: green;
  font-family: "Funnel Sans", serif;
}
/* runing text */

p,
h1 {
  font-family: "Funnel Sans", serif;
}
/* image */
.portrait-img {
  width: 30%;
}
/* bottom/footer */
footer {
  border-top: 2px solid green;
}
h2 {
  font-family: "Pacifico", serif;
  font-weight: 100;
}
