/* top */
#logo {
  font-family: "Pacifico", serif;
  font-weight: 300;
  font-size: 2rem;
  border-top: 4px solid green;
  border-bottom: 4px solid green;
  padding-left: 10px;
  padding-bottom: 5px;
}
/* links */
ul {
  list-style: none;
}
a {
  color: green;
  font-family: "Funnel Sans", serif;
}
/* runing text */

p,
h1 {
  font-family: "Funnel Sans", serif;
}
/* image */
.portrait-img {
  width: 30%;
}
/* bottom/footer */
footer {
  border-top: 2px solid green;
}
h2 {
  font-family: "Pacifico", serif;
  font-weight: 100;
}

h3 {
  padding-left: 130px;
}

h4,
h5 {
  font-family: "Funnel Sans", serif;
  font-size: 15px;
  width: 300px;
  padding-left: 5px;
  border: 1px solid green;
  margin-left: 30px;
}

h6 {
  font-family: "Funnel Sans", serif;
  font-size: 15px;
  width: 300px;
  height: 80px;
  padding-left: 5px;
  padding-bottom: 1px;
  border: 1px solid green;
  margin-left: 30px;
}
h7 {
  font-family: "Funnel Sans", serif;
  margin-left: 155px;
  border: 3px solid green;
  padding: 5px;
  margin-bottom: 40px;
}
