/* top */
header {
  height: 90px;
  display: flex;
  border-top: 4px solid green;
  border-bottom: 4px solid green;
  align-items: center;
}

#logo {
  font-family: "Pacifico", serif;
  font-weight: 300;
  font-size: 2rem;

  padding-left: 10px;
  padding-bottom: 5px;
}
/* links */
ul {
  list-style: none;
  display: flex;
}
li {
  margin-left: 3rem;
}
a {
  color: green;
  font-family: "Funnel Sans", serif;
}
/* runing text */

p,
h1 {
  font-family: "Funnel Sans", serif;
}
/* image */
.portrait-img {
  width: 30%;
}
/* bottom/footer */
footer {
  border-top: 2px solid green;
}
h2 {
  font-family: "Pacifico", serif;
  font-weight: 100;
}

h3 {
  padding-left: 130px;
}

#page-2-main {
  font-family: "Funnel Sans", serif;
}

.container {
  padding: 20px;
  border: 2px solid green;
  margin-right: 350px;
}

.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.category-image {
  width: 100%;
}
.category-image-detail {
  padding-left: 30fr;
  width: 45%;
}
.category-image-lego {
  width: 100%;
}
@media screen and (max-width: 680px) {
  #logo {
    font-size: 1.5rem;
  }
  ul {
    padding-left: 0rem;
  }
}
@media screen and (max-width: 430px) {
  #logo {
    font-size: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .category-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
